# Extension information for zpkg.

# Mark an "exported" header for use from other packages.
# This is not needed for headers only used within the package.
header  cPersistence.h
header  ring.h

<extension cPersistence>
  source     cPersistence.c
  source     ring.c

  depends-on cPersistence.h
  depends-on ring.h
</extension>

<extension cPersistence>
  source     cPickleCache.c
  source     ring.c

  depends-on cPersistence.h
  depends-on ring.h
</extension>

<extension TimeStamp>
  source     TimeStamp.c
</extension>
