[run]
source = src/ZODB/
parallel = true
omit =
	 src/ZODB/tests/*
	 src/ZODB/scripts/tests/*

[report]
exclude_lines =
    pragma: nocover
    pragma: no cover
    if __name__ == ['"]__main__['"]:
    assert False
